/*  Reset defaults
---------------------*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

/*  Setup defaults
-----------------------*/
a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    color: #0000dd;
    text-decoration: underline;
}

body, html {
    font: 13px tahoma, arial, Geneva, sans-serif, verdana, lucida sans;
    font-weight: normal;
}

/*  General CSS Styles
-----------------------*/
#page-border {
    border-bottom: 2px solid blue;
    margin-bottom: 15px;
}
#wrapper {
    background: #fff;
    margin: 25px auto;
    width: 800px;
}

#content {
    padding: 5px;
    box-shadow: 0px 0px 1px 1px #D1D1D1;
}

/*  Main menu
------------------------*/
#main-menu {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -5px;
    border-bottom: 2px solid #EEEEEE;
}
#main-menu ul li {
    list-style: none;
    display: inline-block;
}
#main-menu a {
    display: inline-block;
    padding: 10px;
}

.separator {
    border: 2px solid #eee;
    margin-bottom: 15px;
}


/*  Content box
-------------------------*/
.content-box {
    background: #F5F5F5;
    font-size: 13px;
}

.content-title {
    background: #eee;
    font-weight: bold;
    font-size: 13px;
    padding: 5px
}
.content-title a {color: #333;}
.content-title a:hover {color: #0000dd;}
.content-text {
    line-height: 17px;
    background: #F5F5F5;
    padding: 10px;
}
.content-info {
    margin-top: 5px;
    margin-bottom: 22px;
    font-size: 11px;
    background: #F5F5F5;
    padding-left: 10px;
    padding-right: 10px;
}

/*  Comment box
--------------------*/
.comment-box {
    background: #fff;
    padding: 5px;
}

.comment-title {
    font-size: 12px;
    padding: 5px;
    font-size: 11px;
}
.com-rate-up {
    user-select: none;
    -moz-user-select: none;
        -khtml-user-select: none;
            -webkit-user-select: none;
                -ms-user-select: none;
    background: url('img/arrow-icon-up.png');
    background-repeat: no-repeat;
    background-size: 15px auto;
    cursor: pointer;
    display: inline-block;
    opacity: 0.5;
    padding: 7px;
}
.com-rate-up:hover {opacity: 1;}
.com-rate-down {
    user-select: none;
    -moz-user-select: none;
        -khtml-user-select: none;
            -webkit-user-select: none;
                -ms-user-select: none;
    background: url('img/arrow-icon-down.png');
    background-repeat: no-repeat;
    background-size: 15px auto;
    cursor: pointer;
    display: inline-block; 
    opacity: 0.5;
    padding: 7px;
}
.com-rate-down:hover {opacity: 1;}
.com-tree-control-btl {
    user-select: none;
    -moz-user-select: none;
        -khtml-user-select: none;
            -webkit-user-select: none;
                -ms-user-select: none;
    cursor: pointer;
    color: #666;
    font-size: 13px;
}
.com-point-stat {
    color: #111;
    font-weight: bold;
}
.com-last-time {
    color: #777;
}

.comment-text {
    font-size: 12px;
    padding: 5px;
}
.comment-options {
    padding: 5px;
    font-size: 11px;
    color: #777;
}
.com-reply-box {margin-left: 15px;}
.com-separator {border-top: 2px solid #EEEEEE;}

#footer {
    border-top: 2px solid #EEEEEE;
    font-size: 11px;

}
#footer #main-menu {
    font-weight: normal;
    border-bottom: none;
    margin-bottom: -10px;
}

/*  Helpers
-----------------------*/
.rigth {float: right;}
.left {float: left;}
.cleaner {clear: both;}
